<section class="advantages">
  <div class="container">
    <ul class="advantages-list">
      <li class="advantages-list__item">
        <svg class="advantages__icon" width="58.82" height="60">
          <use href="./images/sprite.svg#advantages-student"></use>
        </svg>
        <p class="advantages-list__text">
          Адаптированная авторская программа ВНО
        </p>
      </li>
      <li class="advantages-list__item">
        <svg class="advantages__icon" width="58.82" height="60">
          <use href="./images/sprite.svg#advantages-training"></use>
        </svg>
        <p class="advantages-list__text">
          Современные методики обучения
        </p>
      </li>
      <li class="advantages-list__item">
        <svg class="advantages__icon" width="58.82" height="60">
          <use href="./images/sprite.svg#advantages-finance"></use>
        </svg>
        <p class="advantages-list__text">
          Финансовая гарантия результата
        </p>
      </li>
    </ul>
  </div>
</section>