<section class="advantages">
  <div class="container advantages__container">
    <h2 class="advantages__title visually-hidden">Наши преимущества</h2>
    <ul class="advantages-list">

      <li class="advantages-list__item">
        <svg class="advantages__icon">
          <use href="./images/sprite.svg#advantages-student"></use>
        </svg>
        <p class="advantages-list__text">
          Адаптированная авторская программа ВНО
        </p>
      </li>

      <li class="advantages-list__item">
        <svg class="advantages__icon">
          <use href="./images/sprite.svg#advantages-training"></use>
        </svg>
        <p class="advantages-list__text">
          Современные методики обучения
        </p>
      </li>

      <li class="advantages-list__item">
        <svg class="advantages__icon">
          <use href="./images/sprite.svg#advantages-finance"></use>
        </svg>
        <p class="advantages-list__text">
          Финансовая гарантия результата
        </p>
      </li>
    </ul>
  </div>
</section>