<section class="benefits">
    <div class="container">
        <div class="absolute-wrapper">
            <h2 class="benefits__title benefits__visually-hidden">Почему нас выбирают</h2>
            <div class="benefits__flex-basis">
                <ul class="benefits__list">
                    <li class="benefits-list__item line">
                        <p class="benefits__text"> Название грамматики</p>
                    </li>
                    <li class="benefits-list__item line">
                        <p class="benefits__text">Неумение вомпринимать устную английскую речь</p>
                    </li>
                    <li class="benefits-list__item line">
                        <p class="benefits__text">Скупой словарный запас для написани сочинения</p>
                    </li>
                    <li class="benefits-list__item line">
                        <p class="benefits__text">Подготовка в одиночку</p>
                    </li>
                    <li class="benefits-list__item line">
                        <p class="benefits__text">Отсутствие единого ресурса знаний</p>
                    </li>
                    <li class="benefits-list__item line">
                        <p class="benefits__text">Недостатой самоорганизации и лень</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>