<section class="contacts" id="contacts__anchor">
  <div class="container">
    <form class="contacts__form" autocomplete="off" action="telegram.php" method="POST">
      <div class="contacts_centered"><h3 class="contacts__title">Регистрация на <span class="contacts__color">бесплатную</span> телефонную <span class="contacts__color">консультацию</span> по нюансам ЗНО
        по английскому языку</h3></div>
      <div class="contacts__fields">
        <p class="contacts__text">Оставь заявку на участие в <span class="contacts__color">бесплатном занятии.</span> <br>
          С вами свяжется консультант и ответит на вопросы</p>
        <input
            class="contacts__input contacts__input--margin"
            type="text"
            name="contacts-name"
            id="user_name"
            placeholder="Имя*"
            required
            pattern="[A-Za-zА-Яа-яґҐЁёІіЇїЄє'’ʼ\-]{2,40}"
            oninvalid="this.setCustomValidity('Введите имя буквами')"
            oninput="this.setCustomValidity('')"
          />
          <input
            class="contacts__input"
            type="tel"
            name="contacts-tel"
            id="user_phone"
            placeholder="Телефон*"
            required
            pattern="\+38\d{10}"
            oninvalid="this.setCustomValidity('Введите номер телефона в формате +38xxxxxxxxxx')"
            oninput="this.setCustomValidity('')"
          />
        <button type="submit" class="contacts__btn">
          хочу на бесплатное занятие
        </button>
      </div>
    </form>
  </div>
</section>