<footer class="footer">
  <div class="footer__container">
    <a href="#" class="logo">
      <span class="logo__first-line">
        <span class="logo__hell">Hell</span>
        <svg width="14.95" height="20.38">
          <use href="./images/sprite.svg#header-logo"></use>
        </svg>
    
        <span class="logo__en">EN</span>
      </span>
    
      
        <p class="logo__hell-ru"><span>Адский
      </span>английский</p>
      
    </a>
    
    <ul class="footer__list">
      <li class="footer__item">
        <a class="footer__link" href="tel:+380000000000">
          <svg class="footer__phone-icon" width="20" height="20">
            <use href="./images/sprite.svg#footer-phone"></use>
          </svg>
          +38 (000) 000 00 00
        </a>
    
        <span class="visually-hidden">instagram</span>
    
        <a class="footer__link-social" href="https://www.instagram.com" target="_blank">
          <svg class="footer__social-icon" width="40" height="40">
            <use href="./images/sprite.svg#footer-instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
                    
                      <div class="footer__copyright">
                        <p class="copyright-text">@ Все права защищены, 2019</p>
                      </div>
                    
</footer>







