<section class="footer">
  <div class="container footer__container">
    <a href="#" class="logo footer__logo">
      <span class="logo__first-line">
        <span class="logo__hell">Hell</span>
        <svg class="logo__icon">
          <use href="./images/sprite.svg#header-logo"></use>
        </svg>
        <span class="logo__en">EN</span>
      </span>
      <span class="logo__second-line">
        <span class="logo__hell-ru">Адский&nbsp;</span>
        <span class="logo__en-ru">английский</span>
      </span>
    </a>
    
    <ul class="footer__list">
      <li class="footer__item phone">
        <a href="tel:+380000000000" class="footer__phone-link">
          <svg class="footer__phone-icon" width="20" height="20">
            <use href="./images/sprite.svg#footer-phone"></use>
          </svg>
          +38 (000) 000 00 00
        </a>
      </li>
      <div class="vertical__line"></div>

      <li class="footer__item insta">
        <span class="footer__social-title">instagram</span>
        <a href="https://www.instagram.com" target="_blank"></a>
      </li>
    </ul>
  </div>

  <div class="copyright">
    <div class="container copyright__container">
      <p class="copyright-text">@ Все права защищены, 2019</p>
    </div>
    
  </div>
</section>