<footer class="footer">
      <div class="container footer__container">
              <a href="#" class="logo">
                 <span class="logo__first-line">
                 <span class="logo__hell">Hell</span>
                     <svg width="14.21" height="19.38">
                         <use href="/sprite.5ec50489.svg#header-logo"></use>
                     </svg>

                 <span class="logo__en">EN</span>
                 </span>

                 <span class="logo__second-line">
                 <span class="logo__hell-ru">Адский&nbsp;</span>
                 <span class="logo__en-ru">английский</span>
                 </span>
             </a>










        <a href="#" class="logo logo--mobile">
            <span class="logo__first-line">
            <span class="logo__hell">Hell</span>

            <svg width="14.21" height="19.38">
               <use href="/sprite.5ec50489.svg#header-logo"></use>
            </svg>
         
            <span class="logo__en">EN</span>
            </span>
            <span class="logo__second-line">
      <span class="logo__hell-ru">Адский&nbsp;</span>
      <span class="logo__en-ru">английский</span>
    </span>
  </a>








        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="tel:+380000000000">
              <svg class="footer__phone-icon" width="20" height="20">
                <use href="./images/sprite.svg#footer-phone"></use>
              </svg>
              +38 (000) 000 00 00
            </a>
    
            <span class="visually-hidden">instagram</span>

            <a class="footer__link-social" href="https://www.instagram.com" target="_blank">
               <svg class="footer__social-icon" width="40" height="40">
                  <use href="./images/sprite.svg#footer-instagram"></use>
               </svg>
            </a>
          </li>

          <div class="footer__copyright">
              <p class="copyright-text">@ Все права защищены, 2019</p>
          </div>
    
          <li class="page-footer__item">
            <a href="#header" class="logo">
              <span class="logo__name fblock">
                <span class="logo__name--low">Hell</span>
                <span class="fire fblock">
                  <span class="fire__left fblock">
                    <span class="fire__sub-main fblock"></span>
                    <span class="fire__particle fblock"></span>
                  </span>
                  <span class="fire__main fblock">
                    <span class="fire__sub-main fblock"></span>
                    <span class="fire__particle fblock"></span>
                  </span>
                  <span class="fire__right fblock">
                    <span class="fire__sub-main fblock"></span>
                    <span class="fire__particle fblock"></span>
                  </span>
                  <span class="fire__bottom fblock">
                    <span class="fire__sub-main fblock"></span>
                  </span>
                </span>
                <span class="logo__name--up">EN</span>
              </span>
              <p class="logo__description">
                <span class="orange-font">адский</span> английский
              </p>
            </a>
          </li>
        </ul>
      </div>
    
      <div class="sub-footer">
        <div class="container">
          <p class="sub-footer__copy">@ Все права защищены, 2020</p>
        </div>
      </div>
    </footer>