<section class="guarantee">
    <h2>Мы гарантируем</h2>
    <div>
        <ul class="guarantee__item">
            <li class="guarantee__text">Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном тестировании. Иначе мы вернем деньги.<p class="guarantee__text-color">*</p></li>
            <li class="guarantee__text">Ты научишься писать сочинения минимум на 10 баллов из 14. <p class="guarantee__text-color">В то время как 20% учеников получили за сочинение 0.</p></li>
            <li class="guarantee__text">Ты будешь заниматься в своем районе. Мы выберем место проведения занятий после формирования команд.</li>
            <li class="guarantee__text">Команды будут сформированы, исходя из начального уровня учеников. Мы учитываем особенности каждого ученика.</li>
        </ul>
    </div>
</section>