<section class="header">
<div class="container header__container">
<include src="./partials/logo.html"></include>

<!------Кнопка мобильного меню----->
<button type="button"
class="menu-toggle js-open-menu"
aria-expanded="false"
aria-controls="mobile-menu"
>
<svg class="menu-toggle__icon" width="20.5" height="12">
    <use href="./images/symbol-defsmenu.svg#icon-menu_24px"></use>
  </svg>
    </button>

</div>

<!------мобильное меню----->

<div class="menu-container js-menu-container" id="mobile-menu">
  <include src="./partials/logo.html"></include>
  <button class="menu-toggle js-close-menu">
    
    <svg  width="20.5" height="20.5">
      <use href="./images/symbolcl.svg#icon-close-black-18dp-2-1"></use>
      </svg>
    </svg>
  </button>

  <nav class="mobile-menu">
      <li class="mobile-menu__item"> <a href="#" class="mobile-menu__link">Программа обучения</a></li>
      <li class="mobile-menu__item"> <a href="#" class="mobile-menu__link">О нас</a></li>
      <li class="mobile-menu__item"> <a href="#" class="mobile-menu__link">Варианты обучения</a></li>
      <li class="mobile-menu__item"> <a href="#" class="mobile-menu__link">Контакты</a></li>
  </ul>
</nav>
<div class="center">
<button type="button" class="button mobile-menu__button">Консультация по телефону</button>
</div>
</div>

</section>