<section class="how-we-do">
  <div class="container">
  <h2 class="how-we-do__title">Как мы это делаем</h2>
  <ul class="how-we-do__list">
    <li class="how-we-do__item how-we-do__item--orange">
        <svg class="how-we-do__icon" width="46" height="48">
          <use href="./images/sprite.svg#howWeDo-program"></use>
        </svg>
        <h3 class="how-we-do__caption">Адаптированная программа
          подготовки к ВНО</h3>
        <p class="how-we-do__text">Ты будешь изучать грамматику и лексику одновременно. И ты научишься писать сочинения.
        </p>
    </li>
    <li class="how-we-do__item how-we-do__item--orange">
        <svg class="how-we-do__icon" width="48" height="47">
          <use href="./images/sprite.svg#howWeDo-Learning"></use>
        </svg>
        <h3 class="how-we-do__caption">Аудитория и онлайн-обучение</h3>
        <p class="how-we-do__text">Учитель поможет не только в аудитории, но и во время домашней подготовки. Родители
          могут участвовать в чате при желании.</p>
    </li>
    <li class="how-we-do__item how-we-do__item--orange">
        <svg class="how-we-do__icon" width="68" height="47">
          <use href="./images/sprite.svg#howWeDo-open-book"></use>
        </svg>
        <h3 class="how-we-do__caption">Привычка читать на английском языке</h3>
        <p class="how-we-do__text">Статьи из источников, которые используются при разработке настоящего ВНО, будут
          приходить на телефон дважды в неделю.</p>
    </li>
    <li class="how-we-do__item how-we-do__item--orange">
        <svg class="how-we-do__icon" width="48" height="48">
          <use href="./images/sprite.svg#howWeDo-group"></use>
        </svg>
        <h3 class="how-we-do__caption">Психологическая
          поддержка</h3>
        <p class="how-we-do__text">Мы научим тебя методикам прохождения тестирований, умению планировать свою подготовку уверенности 
          в себе.</p>
    </li>
    <li class="how-we-do__item how-we-do__item--orange">
        <svg class="how-we-do__icon" width="40" height="48">
          <use href="./images/sprite.svg#howWeDo-student"></use>
        </svg>
        <h3 class="how-we-do__caption">Обучение по авторским пособиям</h3>
        <p class="how-we-do__text">Тебе не нужно тратить время 
          на  самостоятельный поиск материала и ничего покупать дополнительно. Мы составили 
          2 пособия для тебя.</p>
    </li>
    <li class="how-we-do__item how-we-do__item--orange">
        <svg class="how-we-do__icon" width="57" height="48">
          <use href="./images/sprite.svg#howWeDo-audio-book"></use>
        </svg>
        <h3 class="how-we-do__caption">Умение воспринимать устную английскую речь</h3>
        <p class="how-we-do__text">“F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать 
          и разбирать аудиозаписи 
          в соответствии с изучаемой лексикой.</p>
    </li>
  </ul>
</div>
</section>