<!-- class="logo logo--mobile logo--invert" лого для меню мобильного -->
<!-- class="logo logo--mobile" лого для мобильного -->
<a href="#" class="logo logo--mobile logo--invert">
  <span class="logo__first-line">
    <span class="logo__hell">Hell</span>
    <svg width="14.21" height="19.38">
      <use href="./images/sprite.svg#header-logo"></use>
    </svg>
    <span class="logo__en">EN</span>
  </span>
  <span class="logo__second-line">
    <span class="logo__hell-ru">Адский&nbsp</span>
    <span class="logo__en-ru">английский</span>
  </span>
</a>
