<section class="problem">
    <div class="problem__fire">
        <div class="container">
            <div class="absolute-wrapper">
                <h2 class="problem__title">Главные проблемы учеников на English ВНО, которые мы <span
                        class="problem__span">помогаем</span>
                    решить
                </h2>
                <div class="flex-basis">
                    <ul class="problem-list">
                        <li class="problem-list__item line">
                            <p class="problem__text"> Название грамматики</p>
                        </li>
                        <li class="problem-list__item line">
                            <p class="problem__text">Неумение вомпринимать устную английскую речь</p>
                        </li>
                        <li class="problem-list__item line">
                            <p class="problem__text">Скупой словарный запас для написани сочинения</p>
                        </li>
                        <li class="problem-list__item line">
                            <p class="problem__text">Подготовка в одиночку</p>
                        </li>
                        <li class="problem-list__item line">
                            <p class="problem__text">Отсутствие единого ресурса знаний</p>
                        </li>
                        <li class="problem-list__item line">
                            <p class="problem__text">Недостатой самоорганизации и лень</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>