<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../sass/main.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>
  <body>
    <section class="program">
      <div class="container">
        <h2 class="program__title">Наша программа</h2>
        <ul class="program__list">
          <li class="module">
            <ul class="module__list">
              <h3 class="module__title">1 семестр</h3>
              <li class="module__item">
                <h4 class="lesson__title">— Grammar</h4>
                <ul class="lesson__list">
                  <li class="lesson">Nouns & Articles</li>
                  <li class="lesson">Adjectives & Adverb</li>
                </ul>
              </li>
              <li class="module__item">
                <h4 class="lesson__title">— Vocabulary</h4>
                <ul class="lesson__list">
                  <li class="lesson">Family & Relations</li>
                  <li class="lesson">People & Society</li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="module">
            <ul class="module__list">
              <h3 class="module__title">2 семестр</h3>
              <li class="module__item">
                <h4 class="lesson__title">— Grammar</h4>
                <ul class="lesson__list">
                  <li class="lesson">Pronouns</li>
                  <li class="lesson">Active Voice</li>
                  <li class="lesson">Passive Voice</li>
                </ul>
              </li>
              <li class="module__item">
                <h4 class="lesson__title">— Vocabulary</h4>
                <ul class="lesson__list">
                  <li class="lesson">Home</li>
                  <li class="lesson">School</li>
                  <li class="lesson">Work</li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="module">
            <ul class="module__list">
              <h3 class="module__title">3 семестр</h3>
              <li class="module__item">
                <h4 class="lesson__title">— Grammar</h4>
                <ul class="lesson__list">
                  <li class="lesson">Modal verbs</li>
                  <li class="lesson">Infinitive</li>
                  <li class="lesson">Gerund</li>
                  <li class="lesson">Participle: 1, 2</li>
                </ul>
              </li>
              <li class="module__item">
                <h4 class="lesson__title">— Vocabulary</h4>
                <ul class="lesson__list">
                  <li class="lesson">Travel & Tourism</li>
                  <li class="lesson">Culture & Free Time</li>
                  <li class="lesson">Sport</li>
                </ul>
              </li>
              <li class="module__item">
                <h4 class="lesson__title">— Writing</h4>
                <ul class="lesson__list">
                  <li class="lesson">Informal Letter</li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="module">
            <ul class="module__list">
              <h3 class="module__title">4 семестр</h3>
              <li class="module__item">
                <h4 class="lesson__title">— Grammar</h4>
                <ul class="lesson__list">
                  <li class="lesson">Clauses: Conditional and<br />Wishes</li>
                  <li class="lesson">Direct / Reported speech</li>
                  <li class="lesson">Preposition</li>
                  <li class="lesson">Conjunction</li>
                  <li class="lesson">Numeral</li>
                </ul>
              </li>
              <li class="module__item">
                <h4 class="lesson__title">— Vocabulary</h4>
                <ul class="lesson__list">
                  <li class="lesson">Healthy Living</li>
                  <li class="lesson">Nature & Environment</li>
                  <li class="lesson">Money</li>
                </ul>
              </li>
              <li class="module__item">
                <h4 class="lesson__title">— Writing</h4>
                <ul class="lesson__list">
                  <li class="lesson">Formal Letter</li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="module">
            <ul class="module__list">
              <h3 class="module__title">5 семестр</h3>
              <li class="module__item">
                <h4 class="lesson__title">—</h4>
                <ul class="lesson__list">
                  <li class="lesson">Revision</li>
                  <li class="lesson lesson--image">Tests</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <!-- <img src="images/main-pic-phone.jpg" alt="Занятие" /> -->
      </div>
    </section>
  </body>
</html>
