<section>
  <h2>Наша программа</h2>
  <ul>
    <li>
      <h3>1 семестр</h3>
      <ul>
        <li>
          — Grammar
          <ul>
            <li>Nouns & Articles</li>
            <li>Adjectives & Adverb</li>
          </ul>
        </li>
        <li>
          — Vocabulary
          <ul>
            <li>Family & Relations</li>
            <li>People & Society</li>
          </ul>
        </li>
      </ul>
    </li>

    <li>
      <h3>2 семестр</h3>
      <ul>
        <li>
          — Grammar
          <ul>
            <li>Pronouns</li>
            <li>Active Voice</li>
            <li>Passive Voice</li>
          </ul>
        </li>
        <li>
          — Vocabulary
          <ul>
            <li>Home</li>
            <li>School</li>
            <li>Work</li>
          </ul>
        </li>
      </ul>
    </li>

    <li>
      <h3>3 семестр</h3>
      <ul>
        <li>
          — Grammar
          <ul>
            <li>Modal verbs</li>
            <li>Infinitive</li>
            <li>Gerund</li>
            <li>Participle: 1, 2</li>
          </ul>
        </li>
        <li>
          — Vocabulary
          <ul>
            <li>Travel & Tourism</li>
            <li>Culture & Free Time</li>
            <li>Sport</li>
          </ul>
        </li>
        <li>
          — Writing
          <ul>
            <li>Informal Letter</li>
          </ul>
        </li>
      </ul>
    </li>

    <li>
      <h3>4 семестр</h3>
      <ul>
        <li>
          — Grammar
          <ul>
            <li>Clauses: Conditional and<br />Wishes</li>
            <li>Direct / Reported speech</li>
            <li>Preposition</li>
            <li>Conjunction</li>
            <li>Numeral</li>
          </ul>
        </li>
        <li>
          — Vocabulary
          <ul>
            <li>Healthy Living</li>
            <li>Nature & Environment</li>
            <li>Money</li>
          </ul>
        </li>
        <li>
          — Writing
          <ul>
            <li>Formal Letter</li>
          </ul>
        </li>
      </ul>
    </li>

    <li>
      <h3>5 семестр</h3>
      <ul>
        <li>
          —
          <ul>
            <li>Revision<br />Tests</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <img src="../images/main pic phone.jpg" alt="Занятие" />
</section>
