<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">Отзывы выпускников</h2>
    <div class="reviews__slider">
      <div class="slider">
        <div class="slider__photo">
          <img srcset="./images/reviews-tonya.jpg 1x, ./images/reviews-tonya@2x.jpg 2x" class="slider__img" src="./images/reviews-tonya.jpg" alt="Тоня Кучеровская" width="150" height="150">
          <ul class="slider-list">
            <li class="slider-item">
              <a href="https://www.facebook.com/" class="slider__link">
                <svg class="slider-icon" width="32px" height="32px">
                  <use href="./images/sprite.svg#reviews-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="slider-item">
              <a href="https://vk.com/" class="slider__link">
                <svg class="slider-icon" width="32px" height="32px">
                  <use href="./images/sprite.svg#reviews-vk"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="slider__content">
          <h3 class="slider__title">Тоня Кучеровская</h3>
          <p class="slider__description">Выпуск 2015, КНУ им.Тараса Шевченко</p>
          <p class="slider-text">
            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З першого ж заняття я у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен
            <span class="slider-content_dots">...</span>
            <span class="slider__more-text">
              бюджеті; дякуючи Олені я змогла пройти конкурс до англомовної
              групи, де весь навчальний процес проходить виключно англійською.
              Провчившись лише рік, я маю безліч зустрічей із представниками з
              Америки та країн Європи. Дякуючи долі, яка подарувала мені
              справжнього вчителя, я здобула певний рівень, з яким можу
              знаходитись у освітній сфері та у сучасному світі загалом.
            </span>
            <button type="button" class="slider__content-button" tabindex="0">
              <span class="slider__content-button--read">Читать дальше</span>
              <span class="slider__content-button--unread">Скрыть текст</span>
            </button>
          </p>
        </div>
      </div>
      <div class="slider">
        <div class="slider__photo">
          <img srcset="./images/reviews-gresko.jpg 1x, ./images/reviews-gresko@2x.jpg 2x" class="slider__img" src="./images/reviews-gresko.jpg" alt="Лиза Гресько" width="150" height="150">
          <ul class="slider-list">
            <li class="slider-item">
              <a href="https://www.facebook.com/" class="slider__link">
                <svg class="slider-icon" width="32px" height="32px">
                  <use href="./images/sprite.svg#reviews-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="slider-item">
              <a href="https://vk.com/" class="slider__link">
                <svg class="slider-icon" width="32px" height="32px">
                  <use href="./images/sprite.svg#reviews-vk"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="slider__content">
          <h3 class="slider__title">Лиза Гресько</h3>
          <p class="slider__description">Выпуск 2016, КНУ им.Тараса Шевченко</p>
          <p class="slider-text">
            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З першого ж заняття я у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен
            <span class="slider-content_dots">...</span>
            <span class="slider__more-text">
              бюджеті; дякуючи Олені я змогла пройти конкурс до англомовної
              групи, де весь навчальний процес проходить виключно англійською.
              Провчившись лише рік, я маю безліч зустрічей із представниками з
              Америки та країн Європи. Дякуючи долі, яка подарувала мені
              справжнього вчителя, я здобула певний рівень, з яким можу
              знаходитись у освітній сфері та у сучасному світі загалом.
            </span>
            <button type="button" class="slider__content-button" tabindex="0">
              <span class="slider__content-button--read">Читать дальше</span>
              <span class="slider__content-button--unread">Скрыть текст</span>
            </button>
          </p>
        </div>
      </div>
      <div class="slider">
        <div class="slider__photo">
          <img srcset="./images/reviews-kvindt.jpg 1x, ./images/reviews-kvindt@2x.jpg 2x" class="slider__img" src="./images/reviews-kvindt.jpg" alt="Катя Квиндт" width="150" height="150">
          <ul class="slider-list">
            <li class="slider-item">
              <a href="https://www.facebook.com/" class="slider__link">
                <svg class="slider-icon" width="32px" height="32px">
                  <use href="./images/sprite.svg#reviews-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="slider-item">
              <a href="https://vk.com/" class="slider__link">
                <svg class="slider-icon" width="32px" height="32px">
                  <use href="./images/sprite.svg#reviews-vk"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="slider__content">
          <h3 class="slider__title">Катя Квиндт</h3>
          <p class="slider__description">Выпуск 2017, КНУ им.Тараса Шевченко</p>
          <p class="slider-text">
            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З першого ж заняття я у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен
            <span class="slider-content_dots">...</span>
            <span class="slider__more-text">
              бюджеті; дякуючи Олені я змогла пройти конкурс до англомовної
              групи, де весь навчальний процес проходить виключно англійською.
              Провчившись лише рік, я маю безліч зустрічей із представниками з
              Америки та країн Європи. Дякуючи долі, яка подарувала мені
              справжнього вчителя, я здобула певний рівень, з яким можу
              знаходитись у освітній сфері та у сучасному світі загалом.
            </span>
            <button type="button" class="slider__content-button" tabindex="0">
              <span class="slider__content-button--read">Читать дальше</span>
              <span class="slider__content-button--unread">Скрыть текст</span>
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>