.about {
  color: var(--main-color);
}

.about__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: currentColor;
  margin-bottom: 20px;
}

.about__subtitle {
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: currentColor;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--secondary-color-text);
  margin-bottom: 20px;
}

.about__photo {
  display: block;
  max-width: 243px;
  margin-bottom: 20px;
}

.about__list {
  margin-bottom: 20px;
}

.about__list :last-child {
  margin-bottom: 0;
}

.about__item {
  display: flex;
  align-items: baseline;
  margin: 0 0 20px 0;
}

.about__check {
  max-width: 17.08px;
  height: 14px;
  margin-right: 8.92px;
  // fill: var(--orange-color-text);
}

.about__paragraph {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  margin: 0;
}

.about__biography {
  position: relative;
  padding-top: 20px;
  margin-bottom: 10px;
}

.about__biography :first-child::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 17.08px;
  height: 2px;
  background-color: var(--orange-color-text);
  margin-bottom: 20px;
}

.about__biography :last-child {
  margin-bottom: 0;  
}

.about__biography-part {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: var(--secondary-color-text);
  margin: 0 0 20px 0; 
}

.about__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-decoration-line: underline;
  color: var(--orange-color-text);
  outline: none;
}

.about__link :visited {
  color: var(--orange-color-text); 
}