.advantages-list {
  display: flex;
  align-items: center;
}

.advantages-list__item {
  display: flex;
}

.advantages-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  
  color: var(--main-color);
  
  @media screen and (min-width: 480px) {
    // width: 480px;
  }
  
  @media screen and (min-width: 768px) {
    // width: 768px;
  }
  
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.649;
    letter-spacing: 0.08em;
  }
}