  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
  }

.advantages {
  outline: 1px dashed aqua;
  padding-top: 30px;
  padding-bottom: 50px;
  @media screen and (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 95px;
    padding-bottom: 130px;
  }
}

.advantages__container {
  outline: 1px dashed blue;
  justify-content: center;
}

.advantages-list {
  align-items: center;
  outline: 1px dashed blueviolet;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  // margin-top: calc(-1 * var(--advantages-card-set-gap));
  // margin-left: calc(-1 * var(--advantages-card-set-gap));
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.advantages-list__item {
  background-color: brown;
  @media screen and (min-width: 1280px) {
    width: 413px;
  }
  @media screen and (min-width: 481px) and (max-width: 1279px) {
    width: 215px;
    margin-right: 21px;
  }
  @media screen and (max-width: 480px) {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  // flex-basis: calc(100% / 1 - var(--advantages-card-set-gap));
  // margin-top: var(--advantages-card-set-gap);
  // margin-left: var(--advantages-card-set-gap);
}

.advantages-list__item:not(:last-of-type) {
}

.advantages-list__wrapper {
  background-color: burlywood;
  position: relative;
  display: flex;
  align-items: center;
}

.advantages__icon {
  outline: 1px solid chartreuse;
  width: 58.82px;
  height: 60px;
  @media screen and (min-width: 1280px) {
    width: 100px;
    height: 102px;
  }
}

.advantages-list__text {
  background-color: cyan;
  margin: 0;
  padding: 0;
  width: calc(58.82px + 10px + 146px);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;
  @media screen and (min-width: 768px) {
    margin-left: 0;
  }
  @media screen and (min-width: 1280px) {
    margin-left: -15px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.649;
    letter-spacing: 0.08em;
    width: 366px;
  }
}
