.advantages {
  margin-top: 30px;
  margin-bottom: 50px;
}

.advantages .container {
  display: flex;
}

.advantages-list {
  display: flex;
  // width: 216px;
  // width: 100%;
  margin: 0 auto;
  flex-direction: column;
  // align-items: center;
}

.advantages-list__item {
  display: flex;
  // width: 100%;
  align-items: center;
  // justify-content: space-between;
}

.advantages-list__item:not(:last-of-type) {
  margin-bottom: 30px;
}

.advantages__icon {
  display: flex;
  // width: fit-content;
  // height: auto;
}

.advantages-list__text {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  width: 146px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  display: inline-flex;
  // align-items: center;
  letter-spacing: 0.08em;
  
  color: var(--main-color);
  
  @media screen and (min-width: 480px) {
    // width: 480px;
  }
  
  @media screen and (min-width: 768px) {
    // width: 768px;
  }
  
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.649;
    letter-spacing: 0.08em;
  }
}