.guarantee {
  padding-top: 50px;

  @media screen and (min-width: 1280px) {
    padding-top: 130px;
  }
}

.guarantee__container {
  padding: 20px 30px;
  margin: 0 auto;
  max-width: 480px;
  background-color: #f1f1f1;

  @media screen and (min-width: 768px) {
    padding: 30px 50px;
    max-width: 768px;
  }

  @media screen and (min-width: 1280px) {
    padding: 50px 112px;
    max-width: 1280px;
  }
}

.guarantee__title {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;

  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.307;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1280px) {
    margin-bottom: 50px;

    font-size: 46px;
    line-height: 1.304;
  }
}

.guarantee__text {
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.666;

  color: #3d3d3d;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.4;
  }
}

.guarantee__text-color {
  color: var(--orange-color-text);
}

.guarantee__list {
}

.guarantee__item {
  position: relative;
  padding-left: 28px;

  @media screen and (min-width: 768px) {
    padding-left: 32px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 41px;
  }
}

.guarantee__item:not(:last-child) {
  border-left: 1px dashed #b9b9b9;
  padding-bottom: 23px;

  @media screen and (min-width: 768px) {
    padding-bottom: 20px;
  }
}

.guarantee__item::before {
  content: '';

  width: 15px;
  height: 20px;
  position: absolute;
  top: 0;
  left: -7.5px;
  justify-content: center;
  background-image: url(../images/guarantee-fire.svg);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 1280px) {
    width: 22px;
    height: 30px;
    left: -11px;
  }
}
