a{
  text-decoration: none;
}
.header__container{

justify-content: space-between;
display: flex;
min-height: 90px;
align-items: center;

}

.menu-toggle__icon{
   fill: black;
}
.menu-toggle{
  border: none;
  cursor: pointer;
  background-color:  var(--main-background-color);
    @media screen and (min-width: 1280px) {
    display: none;
}
}
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-bottom: 42px;
    padding-top: 30px;
    @media (min-width: 768px) {
      padding-top: 25px;
  }
    background-color: rgba(17,21,24,0.9);
    z-index: 10;
    transform: translateX(300%);
    transition: transform 250ms ease-in-out;
  }

  .menu-container.is-open {
    transform: translateX(0);
  }

  .menu-container .menu-toggle {
    position: absolute;
    top: 5px;
    cursor: pointer;
    @media (min-width: 768px) {
      top: 8px;
      right: 46px;
  }
    right: 26px;
    background-color: rgba(17,21,24,0.001);
    padding: 0px;
    border: none;
    fill: var(--main-background-color);

  }

  .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .mobile-menu__link {
    display: block;
    color: var(--main-background-color);
    text-decoration: none;
  &:hover,
  &:focus{
    color: var(--orange-color-text);
  }
}

  .mobile-menu {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    margin-top: 50px;
    @media screen and (min-width: 768px) {
      margin-left: 218px;
  }

  }

.center{
      text-align: center;
   }
.menu__button{
    background-color: rgba(17,21,24,0.01);
    border: solid 2px var(--orange-color-text);
    color: var(--orange-color-text);
    min-width: 260px;
    min-height: 48px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    cursor: pointer;
    @media screen and (max-width: 1279px) {
      margin-left: 239px;
  }
}
.header__container__menu__button{
    @media screen and (max-width: 767px) {
display: none;
     }
}
.menu__button--mobile{
  display: block;
  margin: 50px auto 0;
  align-items: center;
     @media screen and (min-width: 768px) {
      display: none;
  }
}
.header__container__menu_list{
  display: flex;
}
.header__container__menu{
    display: flex;
  @media screen and (max-width: 1279px) {
    display: none;
}
}
.header__container__menu__link{
  color: var(--secondary-color-text);
  font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    text-transform: uppercase;
    &:hover,
  &:focus{
    color: var(--orange-color-text);
  }
}
.header__container__menu__item:not(:last-child){
      margin-right: 40px;
           }

.wrapper{
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  min-width: auto;
  max-width: 767px;
  @media (min-width: 480px) {
    max-width: 480px;
  }

  @media (min-width: 768px) {
    max-width: 768px;
}

}