.hero{
    background-image: url('../images/hero-Vector.png');
    background-position: left bottom;
    background-size: 100% 25%;
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
      background-size: 100% 100%;
    }

    @media screen and (min-width: 1280px) {
      background-size: 100% 160%;
    }
}

.hero__container {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.hero__offer {
  // @media screen and (min-width: 768px) {
  //   padding-left: 20px;
  // }

  @media screen and (min-width: 1280px) {
    padding-bottom: 140px;
  }
}

.hero__offer--box {
  width: 280px;

  @media screen and (min-width: 768px) {
    width: 332px;
  }

  @media screen and (min-width: 1280px) {
    width: 600px;
  }
}

.hero__title {
  padding-top: 10px;
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.03em;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.30;
    padding-top: 40px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 56px;
    line-height: 1.29;
    padding-top: 50px;
    margin-bottom: 24px;
  }
}

.hero__text {
    margin-top: 0px;
    margin-bottom: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.571;
  color: var(--secondary-color-text);
  letter-spacing: 0.08em;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.65;
  }

}

.hero__subtext {
  margin-top: 5px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.571;
  letter-spacing: 0.08em;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.65;
    margin-bottom: 40px;
  }
}

.hero__subtext--orange {
    color: var(--orange-color-text);
}

.hero__btn {
  display:block;
  position: relative;
  margin: 0 auto;
  width: 260px;
  border: none;
  background-color: var(--orange-color-text);
  color: var(--main-background-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  padding: 18px 5px;

  @media screen and (min-width: 768px) {
    display: inline-block;

  }

  @media screen and (min-width: 1280px) {

    font-size: 14px;
    line-height: 1.21;
    width: 354px;
    padding: 26px 25px ;
  }
}

.hero__picture {
  @media screen and (min-width: 768px) {
    padding-top: 10px;
  }

}

.hero__img {
    padding-top: 30px;
    padding-bottom: 47px;
    min-width: 208px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 325px) and (max-width: 480px) {
      max-width: 308px;
    }

    @media screen and (min-width: 768px) {
      max-width: 356px;
    }

    @media screen and (min-width: 1280px) {
      max-width: 617px;
      padding-bottom: 0px;
      padding-top: 60px;
    }

}