.how-we-do {
  padding-top: 198px;
  padding-left: 50px;
  text-align: center;
}

.how-we-do__title {
  margin: 0 auto 30px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.30;
  letter-spacing: 0.03em;
  color: currentColor
}

.how-we-do__item:not(:last-child) {
  margin-bottom: 15px;
}

.how-we-do__set {
  padding-top: 30px;
  background: var(--main-background-color);
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
}

.how-we-do__caption {
  margin: 0;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;
}

.how-we-do__icon {
  margin-bottom: 20px;
}

.how-we-do__text {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
}

.how-we-do__caption::after {
  content: '';

  left: 0;
  bottom: 0;

  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 15px;

  background-color: var(--orange-color-text);
}