.how-we-do {
  padding-top: 198px;
  padding-bottom: 50px;
  text-align: center;
}

.how-we-do__title {
  margin: 0 auto 30px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.30;
  letter-spacing: 0.03em;
  color: currentColor
}

.how-we-do__item {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.how-we-do__item:not(:last-child) {
  margin-bottom: 15px;
}

.how-we-do__set {
  padding: 30px 5px 25px;
  background: var(--main-background-color);
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
}

.how-we-do__caption {
  position: relative;
  margin: 0 auto 33px;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;

  &::after {
    position: absolute;
    content: '';
  
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    display: block;
    width: 25px;
    height: 3px;
  
    background-color: var(--orange-color-text);
  }
}

.how-we-do__icon {
  margin-bottom: 20px;
  fill: currentColor;
}

.how-we-do__text {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  color: var(--secondary-color-text);
}
