.logo {
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-style: normal;
  font-weight: 800;
  font-size: calc(26px * 0.64);
  line-height: 1.23077;
  letter-spacing: 0.04em;
  color: var(--main-color);

  @media screen and (min-width: 768px) {
    font-size: 26px;
  }

  &__first-line {
    display: inline-flex;
    justify-content: center;
  }

  &__hell {
    margin-right: calc(4px * 0.64);

    @media screen and (min-width: 768px) {
      margin-right: 4px;
    }
  }
  
  &__en {
    margin-left: calc(4px * 0.64);

    @media screen and (min-width: 768px) {
      margin-left: 4px;
    }
  }

  &__second-line {
    display: inline-flex;
    justify-content: center;
    margin-top: calc(3px * 0.64); 
    font-size: calc(8px * 0.64); 
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.18em;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      margin-top: 3px;
      font-size: 8px;
    }
  }

  &__hell-ru {
    color: var(--orange-color-text);
  }

  &__icon {
    width: calc(23px * 0.64); 
    height: calc(30px * 0.64); 

    @media screen and (min-width: 768px) {
      width: 23px; 
      height: 30px; 
    }
  }
}

.logo--invert {
color: white;
}