.program {
  margin: 0 auto;
    // min-width: 320px;

  background-color: var(--main-color);

  // position: relative;
  // height: 1130px;
  z-index: 1;

  outline: 1px solid white;
  overflow-x: hidden;

  @media screen and (min-width: 768px) {
    padding-bottom: 100px;
  }

  &__title {
    margin: 0;
    padding: 50px 0 43px 0;

    text-align: center;

    color: var(--main-background-color);

    @media screen and (min-width: 768px) {
      text-align: left;
    }

    @media screen and (min-width: 1268px) {
      padding: 120px 0 100px 0;
      font-weight: 800;
      font-size: 46px;
      line-height: 60px;
    }
  }

  &__list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
      padding-left: 100px;
    }

    @media screen and (min-width: 1280px) {
      padding-left: 0;
      flex-direction: unset;
      align-items:unset ;
    }
  }
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  // min-width: 320px;
  min-width: auto;

  // @media screen and (min-width: 480px) {
  //   width: 480px;
  // }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 180px;
    padding-right: 40px;
  }
}

.module {
  width: 180px;
  position: relative;

  padding-left: 26px;
  border-left: 1px solid var(--main-background-color);

  @media screen and (min-width: 768px) {
    width: 688px;
    padding-left: 56px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 0;
    border-left: none;
    padding-right: 30px;
    border-top: 1px solid var(--main-background-color);
  }

  &:first-child {
    border-left: 1px solid black;
    border-image: linear-gradient(to bottom,
      #111518 7%,
      #ffffff 7%,
      #ffffff 100%
      );
    border-image-slice: 1;

    @media screen and (min-width: 1280px) {
      border-left: none;
      border-image: none;
      border-top: 1px solid var(--main-background-color);
    }
  }

  &:last-child {
    border-left: 1px solid white;
    border-image: linear-gradient(
      to bottom,
      #ffffff 10%,
      #111518 10%,
      #111518 100%
    );
    border-image-slice: 1;

    @media screen and (min-width: 1280px) {
      border-left: none;
      border-top: 1px solid var(--main-background-color);
    }
  }

  &:last-child::after {
    content: "";
    background-image: url("../images/program-img.jpg");
    width: 176px;
    height: 110px;
    position: absolute;
    background-size: cover;
    opacity: 50%;

    z-index: 1;

    left: 110px;
    top: 72px;

    @media screen and (min-width: 768px) {
      width: 384px;
      height: 280px;

      top: -55px;
      left: 267px;
    }

    @media screen and (min-width: 1280px) {
      // display: none;
      background-image: url("../images/program-img2.jpg");
      width: 760px;
      height: 370px;
      top: 408px;
      left: -1290px;
      overflow: hidden;
    }
  }

  &__title {
    margin: 0 auto 5px;

    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.08em;

    color: var(--main-background-color);

    @media screen and (min-width: 1280px) {
      font-size: 20px;
      padding-top: 60px;
      padding-bottom: 25px;
    }
  }

  &__title::before {
    content: url("../images/program-ellipse.svg");
    position: relative;
    margin-right: -12px;
    left: -32px;

    @media screen and (min-width: 768px) {
      left: -62px;
    }

    @media screen and (min-width: 1280px) {
      left: -2px;
      top: -78px;
    }
  }

  &__title--number {
    @media screen and (min-width: 1280px) {
      font-size: 30px;
    }
  }

  &__list {
    margin: 0 auto 40px;

    @media screen and (min-width: 768px) {
      display: flex;
      margin-bottom: 30px;
      // justify-content: space-between;
    }

    @media screen and (min-width: 1280px) {
      display: block;;
    }
  }

  &__item {
    margin: 0 auto;

    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.08em;

    color: var(--orange-color-text);

    @media screen and (min-width: 768px) {
      margin: 0;
      width: 210px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 25px;
      width: 210px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.lesson {
  margin: 0 auto;

  font-weight: 500;
  letter-spacing: 0.08em;
  opacity: 50%;

  color: var(--secondary-color-text);

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 28px;
  }

  &:last-child {
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__title {
    margin: 0 0 10px;

    @media screen and (min-width: 768px) {
      margin-bottom: 5px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 33px;
    }
  }
}